body {
    background-size: cover; /* Hace que la imagen cubra todo el fondo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    height: 100vh; /* Altura del viewport para evitar scroll vertical */
    margin: 0; /* Elimina los márgenes del body */
    color: white; /* Cambia el color del texto para mejor visibilidad */
}

.container {
    height: 100%; /* Asegura que el contenedor use toda la altura */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra el contenido verticalmente */
    align-items: center; /* Centra el contenido horizontalmente */
}

table {
    background: rgba(0, 0, 0, 0.7); /* Fondo semitransparente para la tabla */
    border-radius: 5px;
    width: 80%; /* Ajusta el ancho de la tabla */
}

th, td {
    color: white; /* Cambia el color del texto a blanco */
    font-size: 0.9em; /* Cambia el color del texto a blanco */
    text-align: center; /* Centra el texto en la tabla */
}
#map {
    height: 400px; /* Asegúrate de que este valor sea consistente */
}
